.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
 }

.score {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  color: #333;
  background-color: "orange";
}

.video {
  transform: scaleX(-1);
  width: 640px;
  height: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  text-align: center;
}

.game-over p {
  font-size: 24px;
  margin-bottom: 10px;
}

.game-over button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.dog {
  max-height: 100;
}
